@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --ot-text: var(--ot-color-1);
    --ot-text-dim: var(--ot-color-3);
    --ot-text-dark: var(--ot-color-7);
    --ot-bg: var(--ot-color-6);
    --ot-bg-shade: var(--ot-color-7);
    --ot-primary: var(--ot-color-8);
    --ot-primary-shade: var(--ot-color-9);
    --ot-secondary: var(--ot-color-5);
    --ot-secondary-shade: var(--ot-color-4);
    --ot-secondary-shade-2: var(--ot-color-2);
    --ot-accent : var(--ot-color-10);
}

html {
    scroll-behavior: smooth;
}

*, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    --ot-color-1 : white;
    --ot-color-2 : #cccccc;
    --ot-color-3 : #7a7a7a;
    --ot-color-4 : #3b3b3b;
    --ot-color-5 : #1f1f1f;
    --ot-color-6 : #111111;
    --ot-color-7 : #0f0f0f;
    
    --ot-color-8 : #e10600;
    --ot-color-9 : darkred;
    
    
    --ot-color-10 : #ffcc00;

}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--ot-bg);
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: var(--ot-bg);
    overflow: hidden; /* Cela cache les parties qui dépassent du cadre */
    animation-name: getOut;
    animation-duration: 1s; /* Durée de l'animation */
    animation-delay: 1.5s;
    animation-fill-mode: forwards; /* Garde la dernière image de l'animation */
}

@keyframes getOut {
    from {
        transform: translateY(0); /* Commence depuis la position initiale */
    }
    to {
        transform: translateY(-100%); /* Déplacez la partie vers le haut pour la cacher */
    }
}

.car-animation {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    animation-name: carAnimation;
    animation-duration: 1.8s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Garde la dernière image de l'animation */
}

@keyframes carAnimation {
    from {
        transform: translate(-50%, 100vh) rotate(180deg); /* Commence depuis la position initiale */
    }
    to {
        transform: translate(-50%, 50vh) rotate(180deg);
    }
}

.traine {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 5px;
    height: calc(50vh - 94px);
    background: white;
    animation-name: traineAnimation;
    animation-duration: 1.8s; /* Durée de l'animation */
    animation-fill-mode: forwards;
}

@keyframes traineAnimation {
    from {
        transform: translate(-50%, calc(0vh + 94px)) ; /* Commence depuis la position initiale */
    }
    to {
        transform: translate(-50%, calc(-50vh + 94px));
    }
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 9999;
    transition: background-color 0.5s ease, box-shadow 0.5s ease,
        border-bottom 0.5s ease; /* Ajoute une transition de 0.5 seconde */
}

header.scrolled {
    background-color: var(--ot-bg-shade);
    border-bottom: 1px solid var(--ot-secondary);
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.grid {
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 95%;
}

.headerbar-module {
    display: flex;
    align-items: center;
    padding: 10px;
}

#headerbar-module-left {
    justify-content: flex-start;
}

#headerbar-module-center {
    justify-content: center;
}

#headerbar-module-right {
    justify-content: flex-end;
}

/* LOGO */

.logo {
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo-o {
    color: var(--ot-text);
}

.logo-t {
    color: var(--ot-primary);
}

.logo-small {
    display: none;
}

/* MID NAV */

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--ot-text);
    transition: all 0.2s ease;
}

.nav-links li a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.592);
    text-decoration-color: var(--ot-accent);
    text-decoration-line: underline;
}

/* AUTH BUTTONS */

header .authButton {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--ot-secondary);
    font-weight: 500;
    color: var(--ot-text);
    padding: 10px 15px 10px 15px;
    margin: 3px 5px 3px 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

header .signupButton { 
    background-color: var(--ot-primary);
    color: var(--ot-text-dark);
}

header .signupButton:hover {
    background-color: var(--ot-primary-shade);
    color: var(--ot-text);
}

header .loginButton:hover {
    background-color: var(--ot-secondary-shade);
}

/* BURGER NAV */

.hamburger {
    display: none;
    height: 16px;
    width: 28px;
}

.hamburger a.main-nav-toggle {
    display: block;
    height: 16px;
    width: 28px;
    position: relative;
}

.hamburger a.main-nav-toggle:after,
.hamburger a.main-nav-toggle:before {
    content: "";

    width: 100%;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 4px solid var(--ot-secondary-shade-2);
    transition: all ease-out 0.3s;
}

.hamburger a.main-nav-toggle:after {
    top: 100%;
}

.hamburger a.main-nav-toggle i {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 4px;
    background-color: var(--ot-secondary-shade-2);
    width: 100%;
    position: absolute;
    top: 50%;
    transition: all ease-out 0.1s;
}

.hamburger a.main-nav-toggle.active-menu:after {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}

.hamburger a.main-nav-toggle.active-menu:before {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
}

.hamburger a.main-nav-toggle.active-menu i {
    opacity: 0;
}

/* BURGER NAV DROPDOWN */

#main-nav-dropdown {
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    width: 300px;
    height: calc(50svh);;

    position: absolute;
    top: 80px;
    right: 20px;
    z-index: -1000;
    transition: all 0.5s ease 0s;
}

#main-nav-dropdown.active {
    z-index: 1000;
}

#main-nav-dropdown i {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--ot-text-dim);
    opacity: 0%;
}

#main-nav-dropdown i:nth-child(1) {
    border-top: 1px solid var(--ot-text-dim);
    transition: all 0.5s ease 0.1s;
}

#main-nav-dropdown i:nth-child(2) {
    transition: all 0.5s ease 0.2s;
}

#main-nav-dropdown i:nth-child(3) {
    transition: all 0.5s ease 0.3s;
}

#main-nav-dropdown i:nth-child(4) {
    transition: all 0.5s ease 0.4s;
}

#main-nav-dropdown i a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--ot-text);
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.2s ease;
    background: var(--ot-secondary);

}

#main-nav-dropdown i a:hover {
    color: var(--ot-text);
    font-weight: 800;
    background-color: var(--ot-bg-shade);
    text-decoration-color: var(--ot-accent);
    text-decoration-line: underline;
}

#main-nav-dropdown i.active {
    opacity: 100%;
}

header .profile {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aqua;
}

/* Footer */
footer {
    width: 100%;
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ot-text-dim);
    background-color: var(--ot-bg-shade);
    border-top: 1px solid var(--ot-text-dim);
}
footer h2 {
    font-weight: 100;
}
footer h3 {
    font-weight: 100;
}


footer a:hover{
    text-decoration-color: var(--ot-accent);
    text-decoration-line: underline;
    transition: all 0.1s ease;
}



@media screen and (max-width: 1000px) {
    #headerbar-module-center nav {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr 0fr 1fr;
    }

    #main-nav-dropdown {
        width: 100%;
        right:0;
    }
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: inline-block;
    }

    .auth-buttons {
        display: none;
    }
}