@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #111111;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, border-bottom 0.5s ease; /* Ajoute une transition de 0.5 seconde */
}

header.scrolled {
    background-color: #0f0f0f;
    border-bottom: 1px solid rgb(29, 29, 29);
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.20);
    transition: background-color 0.5s ease, box-shadow 0.5s ease; 
}

header .logo {
    display: block;
    font-size: 40px;
    margin-left: 25px;
    font-weight: 900;
    font-style: italic;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

header .logo-text {
    float: left;
}

header .logo-text-small {
    float: left;
    display: none;
}

header .logo-a {
    text-decoration: none;
    color: white;
}

header .logo-b {
    text-decoration: none;
    color: red;
}

header .mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    transform: translateX(-15%);
    color: white;
}

header .mid a {
    font-size: 18px;
    font-weight: 100;
    transition: text-shadow 0.15s ease;
}
header .mid a:hover {
    cursor: pointer;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.593);
}

header .profil {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aqua;
    margin-right: 25px;
}

.circuit-container {
    position: relative;
    width: 100%;
    height: 85vh;
}

.img-background {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.fade {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, #0707077e 0%, rgba(255, 255, 255, 0) 10%, #111111 100%);
}

.circuit {
    position: absolute;
    display: flex;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    width: 52vw;
    height: 39vw;
    z-index: 100000;
}

.img-circuit {
    width: 100%;
    height: 100%;
    stroke-width: 1px;
}

.overtake-location {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    max-width: 2vw;
    max-height: 2vw;
    border-radius: 2vw;
    transform: translate(-50%, -50%); /* Centrer le point */
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.5vw;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
}

.overtake-location.empty{
    display: none;
}

.overtake-location:nth-child(2) {
    left: 5%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 78%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(3) {
    left: 8%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 71%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(4) {
    left: 7%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 60%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(5) {
    left: 14%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 6%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(6) {
    left: 28%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 21%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(7) {
    left: 34%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 27%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(8) {
    left: 35%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 37%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(9) {
    left: 47%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 53%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(10) {
    left: 22%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 51%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(11) {
    left: 17%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 58%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(12) {
    left: 70%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 54%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(13) {
    left: 55%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 35%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(14) {
    left: 61%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 12%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(15) {
    left: 92%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 75%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}
.overtake-location:nth-child(16) {
    left: 87%; /* Position horizontale en pourcentage de la largeur de l'élément .circuit */
    top: 79%; /* Position verticale en pourcentage de la hauteur de l'élément .circuit */
}

.overtake-location:hover{
    background-color: rgba(175, 2, 2, 1);
    z-index: 10000;
}

.overtake-hoverCard {
    position: absolute;
    display: none; /* Masquer la description par défaut */
    width: 250px;
    background-color: #111111;
    border-radius: 10px;
    border: 1px solid rgb(68, 68, 68);
    top: 0; 
    left: 0; 
    transform: translateX(1vw) translateY(1vw);
}

.overtake-hoverCard.wide {
    width: 300px;
}

/* Afficher la description lors du survol de .overtake-location */
.overtake-location:hover .overtake-hoverCard{
    display: block;
}

.overtake-row {
    position: relative;
    overflow: hidden;
    color: #ABABAB;
    height: 66px;
}

.overtake-drivers{
    position: absolute;
    bottom: 0;
    left: 10px;
}

.overtake-row:not(:last-child) {
    border-bottom: 1px solid rgb(68, 68, 68);
}

.driver-img{
    border: 1px solid rgb(68, 68, 68);
    border-radius: 50%;
    float: left;
    background-color: #CCC;
}

.driverA{
    width: 64px;
    height: 64px;
}

.driverB{
    width: 44px;
    height: 44px;
}

.overtake-row .overtake-lap{
    position: absolute;
    bottom: 0;
    left: 64px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.overtake-row .overtake-year{
    position: absolute;
    float: right;
    right: 10px;
    top: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
}


/* AJOUT OBLIGATOIRE */
@media screen and (max-width: 1000px) {
    header .mid {
        display: none;
    }
    .circuit{
        width: 68vw;
        height: 51vw;   
    }
    .overtake-location {
        width: 3vw;
        height: 3vw;
        max-width: 3vw;
        max-height: 3vw;
        font-size: 2vw;
    }
    
}

@media screen and (max-width: 800px) {
    .circuit{
        width: 76vw;
        height: 57svw;   
    }
    .overtake-location {
        width: 3vw;
        height: 3vw;
        max-width: 3vw;
        max-height: 3vw;
        font-size: 2vw;
    }

    .overtake-hoverCard{
        width: 200px;
    }

    .overtake-row {
        height: 52px;
    }

    .driverA{
        width: 50px;
        height: 50px;
    }

    .driverB{
        width: 35px;
        height: 35px;
    }

    .overtake-row .overtake-lap{
        font-size: 11px;
        left: 50px;
    }


    .overtake-row .overtake-year{
        font-size: 16px;
        top: 15px;}
}

@media screen and (max-width: 600px) {
    header .logo-text {
        display: none;
    }
    header .logo-text-small {
        display: block;
    }

    .circuit{
        width: 88vw;
        height: 66vw;   
    }

}